body {
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

#whole-page {
  background-color: white;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
}

header, footer {
  padding: 20px;
  text-align: center;
  color: black;
  background-color: white;
  margin-bottom: 4vh;
  margin-top: 4vh;
}